    html{
    font-size: 100%;
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
}

body{
    margin:0;
    padding: 0;
    font-family: $principal-f;
    font-weight: 400;
    line-height: 1.5;
    font-size: 0.75rem;
    color:$dark-gray;
}

main{
    background-color: $dark-cyan;
    min-height: 100vh;
}

