$dark-cyan: hsl(185, 75%, 39%);
$very-dark-desaturated-blue: hsl(229, 23%, 23%);
$dark-grayish-blue: hsl(227, 10%, 46%);
$dark-gray: hsl(0, 0%, 59%);


$principal-f:'Kumbh Sans', sans-serif;

@mixin titles() {
    font-weight: 700;
    font-size: 1.8125rem;
    color:$very-dark-desaturated-blue;
}

@mixin flexCenter($direction, $horizontal:center) {
    display: flex;
    justify-content: $horizontal;
    align-items: center;
    flex-direction: $direction;    
}